{% extends 'base.html' %}

{% block content %}
<h2>Welcome to the CCS Exponential Quiz<span class="icon-emo-happy"></span></h2>
<p class="lead">
  If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to CCS Exponential
  Quiz, get started
  by creating an <a href="{% url 'student_signup' %}">account</a>.
</p>
<hr>
<h3>Rules</h3>

<p>Round 1 is a preliminary round which will separate the top teams &amp; eliminate the rest.</p>
<p>The rules and regulations for round 1 are as follows:</p>
<ol>
  <li>A team would comprise of 2 members.</li>
  <li>Registered teams will be assigned a dedicated computer to undertake quiz on a portal.</li>
  <li>The quiz comprises of the logical, technical and non-technical questions.</li>
  <li>The marking scheme is as follows:</li>

  <ul>
    <li>A team can attempt or choose to skip a question.</li>
    <li>For all successive correct attempts marks would be awarded as +2i, where i is the number of questions answered
      correctly. (Eg. +2,+4,+8…so on)</li>
    <li>Any wrong attempt/skipping the question will break the streak.</li>
    <li>Similarly for all successive wrong attempts marks would be deducted as -2i.</li>
    <li>There is no penalty for skipping the question.</li>
  </ul>

  <li>The time allotted for this event is 30-40 min.</li>
</ol>
<p>
  <br>
</p>

{% endblock %}